#head{
    background-color: rgb(99, 77, 51);
    align-items: center;
    height: 150px;
    flex-wrap: wrap;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 0px 10px 8px rgb(89, 67, 42);
}
body{
    margin: 0;
}
#find{
    width: 350px;
    height: 50px;
    background-color: rgb(195, 169, 139);
    border: black,3px,solid;
    font-size: 27px;
    padding-left: 5px;
    box-sizing: border-box;
}
#inicio{
    font-size: 27px;
    background-color: rgb(195, 169, 139);
    width: 130px;
    text-align: center;
    height: 50px;
    border: black,3px,solid;
}