.card{
    width: 320px;
    height: 380px;
}
.card:hover{
    width: 400px;
    height: 480px;
    
    .img,img{
        width: 370px;
        height: 240px;
    }
}
#main{
    height: 86%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}
.card .img,img{
    width: 240px;
    height: 240px;
}
#corp{
    width: 100%;
    height: 1000px;
    justify-content: center;
    align-items: center;
}
#head{
    background-color: rgb(99, 77, 51);
    align-items: center;
    height: 150px;
    flex-wrap: wrap;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 0px 10px 8px rgb(89, 67, 42);
}
body{
    margin: 0;
    background-color: rgb(200, 152, 97);
}
#head{
    background-color: rgb(99, 77, 51);
    align-items: center;
    height: 150px;
    flex-wrap: wrap;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 0px 10px 8px rgb(89, 67, 42);
}
#menu{
    width: 150px;
    height: 50px;
    background-color: rgb(195, 169, 139);
    align-self: flex-end;
    font-size: 27px;
    margin-right: 60px;
    border: black,3px,solid;
}
#find{
    width: 350px;
    height: 50px;
    background-color: rgb(195, 169, 139);
    border: black,3px,solid;
    font-size: 27px;
    padding-left: 5px;
    box-sizing: border-box;
}
#inicio{
    font-size: 27px;
    background-color: rgb(195, 169, 139);
    width: 130px;
    text-align: center;
    height: 50px;
    border: black,3px,solid;
}